html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
    background-color: #E5E5E5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
    width: 100%;
}

.wrapper {
    min-width: 1440px;
    height: 800px;
    margin: 0 auto;
    background-image: url(../img/excavator-action\ 2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header__row {
    background: linear-gradient(180deg, rgba(21, 16, 7, 0) 0%, rgba(21, 15, 5, 0.71) 30.41%, rgba(21, 14, 4, 0) 100%);
    height: 428px;
    justify-content: space-around;
    display: flex;
}

.header__nav {
    font-size: 22px;
    font-weight: 400;
    width: 1440px;
    display: flex;
}

.header__logo {
    margin: 33px 0 0 48px;
}

.header__menu {
    display: flex;
    font-size: 22px;
    font-weight: 400;
    margin-top: 60px;
}

.header__menu a {
    text-decoration: none;
    color: white;
}

.header__menu a:hover {
    font-weight: 700;
}

.header__link1 {
    margin-left: 48px;
    width: 80px;
}

.header__link2 {
    margin-left: 24px;
    width: 188px;
}

.header__link3 {
    margin-left: 10px;
    width: 93px;
}

.header__link4 {
    margin-left: 24px;
    width: 110px;
}

.header__social {
    display: flex;
    margin-top: 60px;
    margin-left: 64px;
}

.header__social_img {
    margin-left: 25px;
}

.header__phone {
    margin-top: 60px;
    margin-left: 68px;
    color: white;
}

.header__phone a {
    text-decoration: none;
    color: #FFFFFF;
}

/* .header__phone:hover {
    font-weight: 700;
} */

.header__text {
    color: white;
    width: 1196px;
    margin: 0 auto;
}

.header__title {
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    text-transform: uppercase;
    text-shadow: 21px -1px 30px #001529;
    margin-top: 150px;
    margin-bottom: 14px;
}

.header__text_row {
    display: flex;
}

.header__text-item {
    font-weight: 400;
    font-size: 17.5766px;
    line-height: 24px;
    margin-right: 90px;
}

.main {
    background-color: #E5E5E5;
}

.about {
    padding-top: 80px;
    padding-bottom: 112px;
    /* margin: 0 auto; */
    /* width: 1440px; */
    width: 100%;
}

.about__row {
    height: 150px;
    width: 1196px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 11px;
    background: white;

}

.about__column1 {
    padding-left: 80px;
}

.about__column4 {
    padding-right: 80px;
}

.item-about {
    display: flex;
}

.item-about__text {
    margin-left: 16px;
    display: flex;
    align-items: center;
}

.item-about__text p::first-line {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}

.services {
    padding-bottom: 100px;
    margin: 0 auto;
    width: 100%;
}

.section__title h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
}

.services__section {
    width: 1196px;
    margin: 0 auto;
}

.services__container-1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 16px;
    margin-top: 32px;
}

.services__container-1_item-1 {
    position: relative;
}

.services__container-1_item-2 {
    position: relative;
}

.services__container-1_item-3 {
    position: relative;
}

.services__container-1_item-4 {
    position: relative;
}

.services__container-1_item-5 {
    position: relative;
}

.services__container-1_item-6 {
    position: relative;
}

.services__container-1_item-7 {
    position: relative;
}

.services__container-2_item-1 {
    position: relative;
}

.services__container-2_item-2 {
    position: relative;
}

.services__container-2_item-3 {
    position: relative;
}

.services__container-2_item-4 {
    position: relative;
}

.services__container-2_item-5 {
    position: relative;
}

.services__container-2_item-6 {
    position: relative;
}

.services__container-2_item-7 {
    position: relative;

}

.container_text {
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    padding-left: 24px;
    padding-bottom: 24px;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}

.container_text:hover {
    font-size: 24px;
    line-height: 29px;
    color: #FF5C51;
}

.services__container-1_item-1 {
    grid-row: 1/3;
}

.services__container-1_item-4 {
    grid-column: 3/4;
    grid-row: 1/3;
}

.services__container-2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 16px;
    margin-top: 16px;
}

.services__container-2_item-3 {
    grid-column: 3/5;
}

.objects__section {
    width: 100%;
}

.objects {
    position: relative;
    height: 408px;
    width: 1440px;
    padding-bottom: 104px;
    margin: 0 auto;
}

.section__title {
    margin-bottom: 24px;

}

.swiper__object {
    padding-bottom: 56px;
}

.object__container .swiper__object {
    position: static;
    width: 1206px;
}

.object__container .swiper-wrapper {
    height: 408px;
}

.swiper__object .swiper-button-next-1 {

    background: url(../img/next1.png) no-repeat;
    width: 50px;


}

.swiper__object .swiper-button-next-1::after {
    display: none;
}

.swiper__object .swiper-button-prev-1 {
    background: url(../img/prev1.png) no-repeat;
    width: 50px;
    height: 50px;
}

.swiper__object .swiper-button-prev-1::after {
    display: none;
}


.object__container p {
    font-size: 18px;
    line-height: 22px;
}

.swiper__slide-1 {
    margin-right: 26px;
    background: white;
    border-radius: 12px;

}

.swiper__slide-2 {
    margin-right: 26px;
    background: white;
    border-radius: 12px;

}

.swiper__slide-3 {
    background: white;
    border-radius: 12px;
}

.swiper__slide-4 {
    background: white;
    border-radius: 12px;

}

.swiper__slide-5 {
    background: white;
    border-radius: 12px;

}

.swiper__slide-6 {
    background: white;
    border-radius: 12px;

}


.object__box-img {
    margin-bottom: 32px;
    background: white;
}

.object__distance {
    display: flex;
    margin-left: 35px;
    margin-bottom: 16px;
}

.object__time {
    display: flex;
    margin-left: 35px;
    margin-bottom: 16px;
}

.object__location {
    display: flex;
    margin-left: 35px;
    padding-bottom: 28px;
}

.object__distance-icon {
    margin-right: 13px;
}

.object__time-icon {
    margin-right: 16px;
}

.object__location-icon {
    margin-right: 15px;
}

.object__distance-icon-2 {
    position: absolute;
    margin-left: 328px;
    margin-top: 16px;
}

.object__distance-icon-3 {
    position: absolute;
    margin-left: 305px;
    margin-top: 16px;
}

.object__box-button {
    display: flex;
    justify-content: center;
    padding-top: 56px;
}

.object__box-button-item {
    padding: 19px 59px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    background: #FF5C51;
    border-radius: 6px;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.05em;
    text-transform: uppercase;

}

.object__box-button a {
    text-decoration: none;
    color: #FFFFFF;
}

.object__box-button a:hover {
    color: black;
}

.partners__section {
    width: 100%;
}

.partners {
    margin: 0 auto;
    width: 1380px;
    margin-top: 200px;
    padding: 96px 30px 0px;
    background: white;
    position: relative;
    margin-bottom: 80px;
}

.partners .swiper__partners {
    margin: 0 auto;
    position: static;
}

.partners__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 56px;
    padding-bottom: 90px;
}


.partners__container .swiper-button-next-2 {
    position: absolute;
    background: url(../img/next2.png) no-repeat;
    width: 50px;
    height: 50px;
    top: 130px;
    right: 135px;
}

.partners__container .swiper-button-next-2::after {
    display: none;
}

.partners__container .swiper-button-prev-2 {
    position: absolute;
    background: url(../img/prev2.png) no-repeat;
    width: 50px;
    height: 50px;
    top: 130px;
    left: 1230px;
}

.partners__container .swiper-button-prev-2::after {
    display: none;
}

.sertificates_section {
    width: 100%;
}

.sertificates {
    position: relative;
    height: 408px;
    width: 1440px;
    margin: 0 auto;
    padding-bottom: 104px;
}


.sertificates__title {
    margin-left: 105px;
    padding-bottom: 30px;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
}


.sertificates__container .swiper__sertificates {
    position: static;
    height: 408px;
    width: 1206px;
}

.sertificates__container .swiper-button-next-3 {
    background: url(../img/next1.png) no-repeat;
    width: 50px;
    height: 50px;


}

.sertificates__container .swiper-button-next-3::after {
    display: none;
}

.sertificates__container .swiper-button-prev-3 {
    background: url(../img/prev1.png) no-repeat;
    width: 50px;
    height: 50px;
}

.sertificates__container .swiper-button-prev-3::after {
    display: none;
}

.footer {
    width: 100%;
}

.footer_mob {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
}

.footer__item {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 1440px;
    height: 246px;
    margin: 0 auto;
    background: #252525;
}

.footer__info {
    display: flex;
    flex-direction: column;
    padding: 65px 0 0px 0px;
    font-size: 19px;
    line-height: 23px;
}

.footer__item a {
    margin-bottom: 24px;
    text-decoration: none;
    color: white;
}

.footer__social {
    margin-top: 75px;
    padding-left: 252px;
    display: flex;
    flex-direction: row;
}

.footer__social a {
    width: 54px;
    height: 54px;
    border: 1px solid white;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
}

.footer__contact {
    margin-top: 75px;
    padding-left: 32px;
    display: flex;
    flex-direction: row;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.footer__contact a {
    width: 336px;
    height: 54px;
    border: 1px solid white;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1419px) {
    .wrapper {
        min-width: auto; 
    }

    .header__row {
        width: auto;
    }

    .header__nav {
        font-size: 20px;
    }

    .header__logo {
        margin: 33px 0 0 12px;
    }

    .header__link1 {
        margin-left: 28px;
    }

    .header__link2 {
        margin-left: 15px;
    }

    .header__link3 {
        margin-left: 4px;
    }

    .header__link4 {
        margin-left: 18px;
    }

    .header__social {
        margin-left: 17px;
    }

    .header__social_img {
        margin-left: 14px;
    }

    .header__phone {
        margin-left: 25px;
    }

    .objects {
        width: 1000px;
    }

    .object__container .swiper {
        width: 800px;
    }

    .partners {
        width: 1100px;
    }

    .partners__container .swiper {
        width: 1100px;
    }

    .partners__container .swiper-button-next-2 {
        right: 135px;
    }

    .partners__container .swiper-button-prev-2 {
        left: 950px;
    }

    .partners .partners__two img {
        display: block;
        margin: 0 auto;
    }

    .partners .partners__three img {
        display: block;
        margin: 0 auto;
    }

    .sertificates {
        width: 1100px;
    }

    .sertificates__container .swiper {
        width: 900px;
    }

    .sertificates .swiper-slide {
        padding: 0 10px;
    }

    .footer__item {
        /* width: 100%; */
       min-width: 1100px;
       /* padding: 0 10px; */
    }

    .footer__social {
        
        padding-left: 150px;
}
}

@media screen and (max-width: 1199px) {

    .about {
        width: 98%;
        min-width: 970px;
        margin: 0 10px;
    }

    .about__row {
        width: 98%;
        min-width: 970px;
    }


    .about__column1 {
        padding-left: 0px;
    }

    .about__column4 {
        padding-right: 0px;
    }




    .services__container-1 {
        gap: 0;
    }
    .services__container-2 {
        gap: 0;
    }
    .partners {
        width: 900px;
    }

    .partners__container .swiper {
        width: 900px;
    }

    .partners__container .swiper-button-next-2 {
        right: 135px;
    }

    .partners__container .swiper-button-prev-2 {
        left: 750px;
    }

    .sertificates {
        width: 900px;
    }

    .sertificates__container .swiper {
        width: 800px;
    }


}




@media screen and (max-width: 991px) {

    .wrapper {
        height: 480px;
    }
    .header__row {
        height: auto;
    }
.header__text {
    max-width: 991px;
}
.header__title {
    font-size: 28px;
    margin-top: 140px;
    margin-left: 50px;
}
.header__text-item {
    font-size: 13px;
    margin-left: 50px;
    margin-right: 66px;
}
    .header__menu {
    display: none;
}

    .header__social {
    display: none; 
}

.header__phone {
    display: none; 
}
.header__logo {
    margin: 40px 0 0 50px;
}

.about {
    padding-top: 50px;
}
    .objects {
        width: 650px;
    }

    .object__container .swiper {
        width: 380px;
    }


    .footer .footer__item {
        max-width: 991px;
        min-width: 767px;
    }
    .footer__info {
        padding-top: 35px;
    }

    .footer__social {
        padding-left: 30px;
    }
    .footer__social a {
        width: 45px;
        height: 45px;
    }
    .footer__contact {

        padding-left: 15px;

}
.footer__contact a {
    height: 45px;
}




}














@media screen and (max-width: 767px) {

    .wrapper {
        height: 370px;
    }
    .header__logo {
        margin: 30px 0 0 40px;
    }
    .header__logo img {
        width: 250px;
    }
    .header__text {
        max-width: 767px;
    }

    .header__title {
        font-size: 22px;
        margin-top: 60px;
        margin-left: 40px;
    }
    .header__text-item {
        font-size: 14px;
        margin-left: 40px;
        margin-right: 8px;
    }

    .header__text-item br {
        display: none;
    }

    .about {
        max-width: 767px;
        min-width: 576px;
        margin: 0 auto;
    }

    .about__row {
        height: auto;
        max-width: 767px;
        min-width: 576px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .about__column1 {
        width: 300px;
        padding-left: 0;
    }

    .about__column2 {
        width: 300px;
    }

    .about__column3 {
        width: 300px;
    }

    .about__column4 {
        width: 300px;
        padding-right: 0;
    }

    .partners {
        width: 650px;
    }

    .partners__container .swiper {
        width: 650px;
    }

    .partners__container .swiper-button-next-2 {
        right: 135px;
    }

    .partners__container .swiper-button-prev-2 {
        left: 500px;
    }

    .sertificates {
        width: 600px;
    }

    .sertificates__container .swiper {
        width: 540px;
    }

    .sertificates .swiper-button-next  {
        right: -13px;

    }
    .sertificates .swiper-button-prev {
        left: -10px;

    }

    .footer .footer__item {
        max-width: 767px;
        min-width: 576px;
    }
    .footer__info {
        padding-top: 35px;
    }

    .footer_mob {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 35px;
    }
    .footer__social {

        /* padding-left: 30px; */
        padding-left: 0px;
    }
    .footer__social a {
        width: 45px;
        height: 45px;
    }
    .footer__contact {
margin-top: 0;
        padding-left: 0;

}
.footer__contact a {
    height: 45px;
}


}



@media screen and (max-width: 576px) {
    
    .wrapper {
        height: 370px;
    }
    .header__logo {
        margin: 15px 0 0 20px;
    }
    .header__logo img {
        width: 220px;
    }
    .header__text {
        max-width: 576px;
    }

    .header__title {
        font-size: 20px;
        margin-top: 90px;
        margin-left: 20px;
    }
    .header__text-item {
        font-size: 11px;
        margin-left: 20px;
        margin-right: 0px;
    }

    .header__text-item br {
        display: none;
    }
    
    .about {
        max-width: 576px;
        min-width: 480px;
        margin: 0 auto;
    }

    .about__row {
        height: auto;
        max-width: 576px;
        min-width: 480px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    
    .partners {
        width: 500px;
    }

    .partners__container .swiper {
        width: 500px;
    }

    .partners__container .swiper-button-next-2 {
        right: 35px;
    }

    .partners__container .swiper-button-prev-2 {
        left: 450px;
    }

    .sertificates {
        width: 550px;
    }

    .sertificates__container .swiper {
        width: 500px;
    }

 .footer__item {
        max-width: 576px;
        min-width: 4680px;
    }
    .footer__info {
        padding-top: 35px;
        font-size: 16px;
    }

    .footer_mob {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 35px;
    }
    .footer__social {

        /* padding-left: 30px; */
        padding-left: 0;
    }
    .footer__social a {
        width: 40px;
        height: 40px;
        
    }
    .footer__contact {

font-size: 13px;
width: 240px;
margin-top: 0;
        padding-left: 0;
}
.footer__contact a {
    height: 40px;
}

    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    .objects {
        width: 550px;
    }

    .object__container .swiper {
        width: 380px;
    }

    .about {
        width: 90%;
        margin: 0 auto;
    }

    .about__row {
        height: auto;
        width: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-left: 10%;
        margin: 0 auto;
    }

    .about__column1 {
        width: 300px;
        padding-left: 0;
    }

    .about__column2 {
        width: 300px;
    }

    .about__column3 {
        width: 300px;
    }

    .about__column4 {
        width: 300px;
        padding-right: 0;
    }

}
@media screen and (max-width: 480px) {
    
}

